body {
	font-family: verdana;
	font-size: 12px;
	background: hsl(0,0%,30%);
}

.bg-1 {
	background: hsl(0,0%,80%);
}

.padding-small {
	padding: 8px;
}

.margin-vertical-large {
	margin-top: 10px;
	margin-bottom: 10px;
}
.margin-left-large {
	margin-left: 10px;
}


textarea {
	font-family: inconsolata-dz;
	line-height: 2;
	letter-spacing:1px;
	padding: 0 8px;
}

.app-in {
	box-shadow: inset 2px 2px 3px hsla(0,0%,0%,0.3);
	min-width: 400px;
	min-height: 400px;
	padding:0 4px;
	margin:0;
	border: solid 4px hsl(0,0%,80%);
	background: hsl(0,0%,80%);
	outline:0;
	border-radius: 0 0 4px 0;
}
.app-out {
	background: hsl(0,0%,20%);
	color: hsl(0,0%,50%);
	min-width: 400px;
	min-height: 400px;
	margin:0;
}

.message {
	height: 30px;
	line-height: 30px;
	padding: 0 8px;
	background: hsl(0,0%,30%);
	color: white;
	-webkit-transition: background 0.1s ease-out;
}
.message.error {
	background: hsl(0,50%,50%);
}
